<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="xPath" value="docID" />
      <add key="maxThreads" value="10" />
      <add key="xmlFolderPath" value="..\..\..\xml" />
      <add key="testMaxThreads" value="2" />
      <add key="testXmlFolderPath" value="..\..\..\testXml" />
    </appSettings>
</configuration>