<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="fileExtension" value="*.xml" />
      <add key="liteXPath" value="docID" />
      <add key="strongXPath" value="sort/@s_c" />
      <add key="liteXmlFolderPath" value="..\..\..\..\liteXml" />
      <add key="maxThreads" value="2" />
      <add key="strongXmlFolderPath" value="..\..\..\..\strongXml" />
    </appSettings>
</configuration>